:root {
  --white: #ffffff;
  --black: #000000;
  --blue-950: #242a45;
  --blue-600: #5267df;
  --grey-600: #5b6074;
  --grey-50: #f7f7f7;
  --red-400: #fa5959;
}

.btn.nav-btn {
  background-color: var(--red-400);
  color: var(--white);
}
.btn.nav-btn:hover {
  background-color: var(--red-400);
}
div a {
  text-decoration: none;
  color: var(--black);
}
.hero-btns .hero-btn-1 {
  background-color: var(--blue-600);
  min-width: fit-content;
}

.hero-btns .hero-btn-1:hover {
  background-color: var(--blue-600);
}

.hero-btns .hero-btn-2 {
  background-color: var(--grey-50);
}
.hero-btns .hero-btn-2:hover {
  background-color: var(--grey-50);
}
.card img {
  width: 5rem;
}
.cards .downloads-btn {
  background-color: var(--blue-600);
}

.cards .downloads-btn:hover {
  background-color: var(--blue-600);
}
.faq-section {
  margin-top: 15%;
}
.contact-section {
  background-color: var(--blue-600);
}
.contact-section .contact-btn {
  background-color: var(--red-400);
}

.contact-section .contact-btn:hover {
  background-color: var(--red-400);
}
.contact-section .contact-input {
  width: 40rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .contact-section .contact-input {
    width: 100%;
    margin: 0 auto;
  }
}
.footer {
  background-color: var(--blue-950);
}
.footer a {
  text-decoration: none;
  color: #f7f7f7;
}
.btn {
  white-space: nowrap;
}
